.body{
    background: url(../img/fondoconsult.jpg);
    background-size: cover;
}

.navbar{
    background-color: rgb(30, 30, 66);
    height: 55px;
}

.nombre_banco{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.titulo_consulta{
    color: white;
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
}

.saldo{
    color: white;
    text-decoration: none;
    margin-top: 50px;
    text-align: center;
    font-size: 90px;
}

.dispobinle{
    color: white;
    text-decoration: none;
    margin-top: 1px;
    text-align: center;
    font-size: 30px;
}

/*BOTONES*/
.btn-1{
    color: white;
    background-color: #072146;
    position: relative;
    margin-left: 65px;
    margin-top: 200px;
}

.btn-2{
    color: white;
    background-color: #072146;
    position: relative;
    margin-left: 900px;
    margin-top: 200px;
}